{% extends "PostBase.html" %}

{% block title %}PostDetail{% endblock %}

{% block PostDetail %}

        <article class="blog-post">
            <div class="col-auto">
                <img class="img-thumbnail" src={{publi.image.url}} style="height:22rem; width: auto;" >
            </div>
            <a href="{% url 'blog:Categoria' publi.category.id %}" > <strong class="d-inline-block mb-2 text-primary ">{{publi.category}}</strong></a>
            <hr>
            <h2 class="blog-post-title mb-1">{{publi.title}}</h2>
            {% comment %} <h5><i>Por&nbsp;<a href="{% url 'Ap01Blog:Author' publi.author.id %}" class="">{{publi.author}}</a>, a &nbsp; {{publi.created|date:"d M Y"}}.</i></h5> {% endcomment %}
            <h5><i>Publicado el &nbsp; {{publi.created|date:"d M Y"}}.</i></h5>
            {% comment %} {% url 'Ap01Blog:Author.html' publi.author.id %} {% endcomment %}
            <p class="lead my-3">{{publi.excerpt}}</p>
            <hr>
            <p class="">{{publi.content|safe}}</p>
            <hr>
            <strong class="d-inline-block mb-2 text-primary ">Etiquetas</strong>
            {% for tag in publi.tags.all  %}
                <span class="badge rounded-pill text-bg-warning"> {{tag.name}} </span>
            {% endfor %}
            <br><br><br><br><br>

            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'blog:Posteos' %}" class="btn btn-outline-success rounded-pill">Posteos</a>&nbsp;&nbsp;
                    <a href="{% url 'blog:Posteos' %}?page={{ previous_page }}" class="btn btn-outline-secondary rounded-pill">Volver a la página {{ previous_page }}</a>
                </div>
            </div>
        </article>


{% endblock %}