{% extends "base.html" %}
{% load static %}
{% comment %} {% load humanize %} {% endcomment %}
{% block title %}404{% endblock %}


{% block content %}
<section class="card content">
	<h6 class="display-1 card-title text-center">PÁGINA NO DISPONIBLE</h6>

	<hr>
	<div class="row justify-content-md-center" data-masonry='{"percentPosition": true }'>
		<div class="col-sm-6 col-lg-4 mb-4">
			<div class="card bg-secondary text-white">
				<img class="img-thumbnail" src="{% static 'images/img_no_disp.png'%}" style="height:30rem; width: auto;" >
				<div class="card-img-overlay">
					<h6 class="card-title">
						<a href="{% url 'home'  %}"><strong class="d-inline-block mb-2 text-primary ">Ir al Home</strong></a>
					</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-lg-4 mb-4 justify-content-center">
			<h6 class="card-title">	{{message}} </h5>
			<a href="{% url 'home'  %}"><strong class="btn btn-success rounded-pill ">Ir al Home</strong></a>
		</div>
	</div>
</section>
{% endblock content %}